.grid-container{
    display: grid;
    grid-template-rows: auto auto;
}

.grid-item{
    background-color: white;
    grid-column: 1 / 10;
}

.grid-row{
    background-color: white;
    grid-column: 1 / 10;
}

.grid-item-standing{
    background-color: white;
    grid-column: 1 / 10;
}